body{
    font-family: Arial, sans-serif;
    background: url('assets/bg.jpg') no-repeat;
    background-size: cover;
}

.logo{
  margin: 15px;
  max-width: 164px;
  display: block;
}

.logo img{
  max-width: 100%;
}

.shadow-content{
    width: 943px;
    height: 223px;
    opacity: 1;
    display: block;
    margin: 35px auto;
    background: rgba(0, 0, 0, .75);
    padding: 22px;
    color: white;
    font-family: Arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

}

.shadow-content h1{
    font-family: Arial;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0 0 24px;
}

.button{
    text-decoration: none;
    color:  white;
    background: #E21836;
    padding: 15px;
    width: 236px;
    height: 85px;
    box-sizing: border-box;
    display: block;
    margin: 35px auto;
    font-family: Arial;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    transition: .2s ease all;

    &:hover{
      background: #ecb83c;
    }
}
